{% extends "base.html" %}
{% load i18n %}

{% block meta_titleXX %}{% trans "Home" %}{% endblock %}
{% block meta_title %}{% trans "Hall of Books" %}{% endblock %}

{% block titleXX %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Hall of Books" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "World of Books" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Welcome to our <strong> Books Review </strong> blog </h2>
<img style="-webkit-user-select: none; display: block; margin: auto; class="centerImage" cursor: zoom-in; "
             src="/static/media/uploads/.thumbnails/books2.jpg/books2-940x627.jpg" width="1240">
<p>
    Welcome to our book-review website.
    Here are some quick links to get you started:
</p>
<ul>
    <li><a href="/blog/">View book reviews</a></li>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>

<!--<img style="-webkit-user-select: none; display: block; margin: auto; cursor: zoom-in;"-->
     <!--src="http://127.0.0.1:8000/static/media/uploads/.thumbnails/pollyanna-cover.jpg/pollyanna-cover-300x457.jpg" width="261" height="398">-->


{% endblocktrans %}
{% endblock %}
